@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
.contenedor-empleados {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    font-family: 'Dosis','sans-serif';
}

.logo {
    text-align: center;
    font-size: 3em;
    font-family: 'Dosis','sans-serif';
    color: #391b4b;
    margin-bottom: 0;
}

.logo span {
    color: #ff7ec1;
}

/* .contenedor-empleados{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #ffc2e1;
    font-family: 'Dosis', 'sans-serif';
} */
.contenedor-empleados .contenedorTabla{
    margin: 0;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.contenedor-empleados .tablaPedidos{
    width: 100%;
    border-collapse: collapse;
    
}
.contenedor-empleados .tablaPedidos td,th{
    border: solid 1px #391b4b;
}
.contenedor-empleados .tablaPedidos td{
    background-color: #ff7ec1;
    text-align: center;
    padding: 1rem;

}