<div class="contenido">

    <h1 class="logo">Datos <span>Pasteleros</span></h1>
    
    <div class="contenedor-empleados">
        <div class="contenedorTabla">
            <table class="tablaPedidos">
                <tr>
                    <td><strong>Codigo</strong></td>
                    <td><strong>Nombre</strong></td>
                    <td><strong>Salario</strong></td>
                    <td><strong>Pasaporte</strong></td>
                    <td><strong>País de Origen</strong></td>
                    <td><strong>Experiencia</strong></td>
                </tr>
                <tr>
                    <th>codigoPastel</th>
                    <th>nombrePastel</th>
                    <th>tipo</th>
                    <th>peso</th>
                    <th>fechaSolicitud</th>
                    <th>fechaEntrega</th>
                </tr>
            </table>
        </div>
    </div>
    <h1 class="logo">Datos <span>Decoradores</span></h1>
    
    <div class="contenedor-empleados">
        <div class="contenedorTabla">
            <table class="tablaPedidos">
                <tr>
                    <td><strong>Codigo</strong></td>
                    <td><strong>Nombre</strong></td>
                    <td><strong>Salario</strong></td>
                </tr>
                <tr>
                    <th>codigoPastel</th>
                    <th>nombrePastel</th>
                    <th>tipo</th>
                </tr>
            </table>
        </div>
    </div>
</div>