<div class="contenido">

    <h1 class="logo">Datos <span>Pasteleros</span></h1>
    
    <div class="contenedor-empleados">
        <div class="contenedorTabla">
            <table class="tablaPedidos">
                <thead>
                    <tr>
                        <th><strong>Codigo</strong></th>
                        <th><strong>Nombre</strong></th>
                        <th><strong>Salario</strong></th>
                        <th><strong>Pasaporte</strong></th>
                        <th><strong>País de Origen</strong></th>
                        <th><strong>Experiencia</strong></th>
                        <th><strong>Modificaciones a los empleados</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pastelero of pasteleros">
                        <td>{{pastelero.codigoPast}}</td>
                        <td>{{pastelero.nombre}}</td>
                        <td>${{pastelero.salario}}</td>
                        <td>{{pastelero.pasaporte}}</td>
                        <td>{{pastelero.paisOgn}}</td>
                        <td>{{pastelero.experiencia}}</td>
                        <td><button name="eliminar" (click)="delete(pastelero)" class="borrar">Eliminar</button>
                            <span class="espacio"></span>
                            <button name="eliminar" (click)="delete(pastelero)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="logo">Datos <span>Decoradores</span></h1>
    
    <div class="contenedor-empleados">
        <div class="contenedorTabla">
            <table class="tablaPedidos">
                <thead>
                    <tr>
                        <th><strong>Codigo</strong></th>
                        <th><strong>Nombre</strong></th>
                        <th><strong>Salario</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>codigoPastel</td>
                        <td>nombrePastel</td>
                        <td>tipo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>