<div class="content">

    <h1 class="logo">Incerte los <span>Empleados</span></h1>

    <div class="pedido-wrapper animated bounceInUp">
        <div class="pedido-form">
            <h3>Incerte el pastelero </h3>
            <form (ngSubmit)="create()">
                <p>
                    <label for="nombreCompleto" class="espacio">Nombre completo</label>
                    <input type="text" name="nombreCompleto" id="nombreCompleto" [(ngModel)]="pastelero.nombre">
                </p>
                <p>
                    <label for="salario" class="espacio">Salario $</label>
                    <input type="number" name="salario" id="salario" [(ngModel)]="pastelero.salario">
                </p>
                <p>
                    <label for="pasaporte" class="espacio">Pasaporte</label>
                    <input type="text" name="pasaporte" id="pasaporte" [(ngModel)]="pastelero.pasaporte">
                </p>
                <p>
                    <label for="paisOrigen" class="espacio">Pais de Origen</label>
                    <input type="text" name="paisOrigen" id="paisOrigen" [(ngModel)]="pastelero.paisOgn">
                </p>
                <p>
                    <label for="experiencia" class="espacio">Años de experiencia</label>
                    <input type="number" name="experiencia" id="experiencia" [(ngModel)]="pastelero.experiencia">
                </p>
                <p class="block">
                    <button>
                        Incertar
                    </button>
                </p>
            </form>
        </div>
        <div class="pedido-form-decoradores">
            <h3>Incerte el decorador</h3>
            <form (ngSubmit)="createDec()">
                <p>
                    <label for="nombreCompleto" class="espacio">Nombre completo</label>
                    <input type="text" name="nombreCompleto" id="nombreCompleto" [(ngModel)]="decorador.nombre">
                </p>
                <p>
                    <label for="salario" class="espacio">Salario $</label>
                    <input type="number" name="salario" id="salario" [(ngModel)]="decorador.salario">
                </p>
                <p class="block">
                    <button>
                        Incertar
                    </button>
                </p>
            </form>
        </div>
        
        
    </div>

</div>