<div class="content">

    <h1 class="logo">Incerte los <span>Empleados</span></h1>

    <div class="pedido-wrapper animated bounceInUp">
        <div class="pedido-form">
            <h3>Incerte el pastelero </h3>
            <form action="">
                <p>
                    <label for="nombreCompleto" class="espacio">Nombre completo</label>
                    <input type="text" name="nombreCompleto" id="nombreCompleto">
                </p>
                <p>
                    <label for="salario" class="espacio">Salario $</label>
                    <input type="number" name="salario" id="salario">
                </p>
                <p>
                    <label for="pasaporte" class="espacio">Pasaporte</label>
                    <input type="number" name="pasaporte" id="pasaporte">
                </p>
                <p>
                    <label for="paisOrigen" class="espacio">Pais de Origen</label>
                    <input type="text" name="paisOrigen" id="paisOrigen">
                </p>
                <p>
                    <label for="experiencia" class="espacio">Años de experiencia</label>
                    <input type="number" name="experiencia" id="experiencia">
                </p>
                <p class="block">
                    <button>
                        Incertar
                    </button>
                </p>
                <p class="block">
                    <button>
                        Actualizar
                    </button>
                </p>
            </form>
        </div>
        <div class="pedido-form-decoradores">
            <h3>Incerte el decorador</h3>
            <form action="">
                <p>
                    <label for="nombreCompleto" class="espacio">Nombre completo</label>
                    <input type="text" name="nombreCompleto" id="nombreCompleto">
                </p>
                <p>
                    <label for="salario" class="espacio">Salario $</label>
                    <input type="number" name="salario" id="salario">
                </p>
                <p class="block">
                    <button>
                        Incertar
                    </button>
                </p>
                <p class="block">
                    <button>
                        Actualizar
                    </button>
                </p>
            </form>
        </div>
        
        
    </div>

</div>