<div class="contenedor-home">
    <div class="info">
        <p> 
            La pasteleria que saciara tus apetitos.<br/>
            Aprovecha para ver los pedidos de nuestros clientes 
            para darte una idea a elegir recuerda siempre, <br/>
            tu satisfacción es nuestra obligación.
        </p>
    </div>
    <div class="titulo">
        <h1>Pedidos</h1>
    </div>
    <div class="contenedorTabla">
        <table class="tablaPedidos">
            <thead>
                <tr>
                    <th><strong>Codigo</strong></th>
                    <th><strong>Nombre</strong></th>
                    <th><strong>Tipo</strong></th>
                    <th><strong>Peso</strong></th>
                    <th><strong>Fecha de solicitud</strong></th>
                    <th><strong>Fecha de entrega</strong></th>
                    <th><strong>Descripción</strong></th>
                    <th><strong>Solicitante</strong></th>
                    <th><strong>Empleado que lo recibió</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>codigoPastel</td>
                    <td>nombrePastel</td>
                    <td>tipo</td>
                    <td>peso</td>
                    <td>fechaSolicitud</td>
                    <td>fechaEntrega</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, provident?</td>
                    <td>solicitante</td>
                    <td>empleado</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
</div>