<div class="contenedor-home">
    <div class="info">
        <p> 
            La pasteleria que saciara tus apetitos.<br/>
            Aprovecha para ver los pedidos de nuestros clientes 
            para darte una idea a elegir recuerda siempre, <br/>
            tu satisfacción es nuestra obligación.
        </p>
    </div>
    <div class="titulo">
        <h1>Pedidos</h1>
    </div>
    <div class="contenedorTabla">
        <table class="tablaPedidos">
            <tr>
                <td><strong>Codigo</strong></td>
                <td><strong>Nombre</strong></td>
                <td><strong>Tipo</strong></td>
                <td><strong>Peso</strong></td>
                <td><strong>Fecha de solicitud</strong></td>
                <td><strong>Fecha de entrega</strong></td>
                <td><strong>Descripción</strong></td>
                <td><strong>Solicitante</strong></td>
                <td><strong>Empleado que lo recibió</strong></td>
            </tr>
            <tr>
                <th>codigoPastel</th>
                <th>nombrePastel</th>
                <th>tipo</th>
                <th>peso</th>
                <th>fechaSolicitud</th>
                <th>fechaEntrega</th>
                <th>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, provident?</th>
                <th>solicitante</th>
                <th>empleado</th>
            </tr>
        </table>
    </div>
    <hr>
</div>