<!-- Esto no funciona, preguntar -->
<div class="contenedorEleccion">
    <div class="eleccion">   
        <a [routerLink]="['empresa']" routerLinkActive="['active']">
            <div class="seleccionar">
                <hr/>
                <h1>Realizar el pedido como Empresa</h1>
            </div>
        </a>
        <a [routerLink]="['persona']" routerLinkActive="['active']">
            <div class="seleccionar">
                <hr/>
                <h1>Realizar el pedido como Persona</h1>
            </div>
        </a>
    </div>
</div>