<div class="contenido">

    <h1 class="logo">Pedidos <span>Personas</span></h1>
    
    <div class="contenedor-pedidos">
        <div class="contenedorTabla">
            <table class="tablaPedidos">
                <thead>
                    <tr>
                        <th><strong>Codigo</strong></th>
                        <th><strong>Fecha y Hora de Inicio</strong></th>
                        <th><strong>Fecha y Hora de Fin</strong></th>
                        <th><strong>Peso Final</strong></th>
                        <th><strong>Decorador</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let decoracion of decoraciones"> 
                        <td>{{decoracion.codigoDecor}}</td>
                        <td>{{decoracion.fechaHoraInicio}}</td>
                        <td>{{decoracion.fechaHoraFin}}</td>
                        <td>{{decoracion.pesoFinal}}kg</td>
                        <td>{{decoracion.decorador}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h1 class="logo">Pedidos <span>Empresas</span></h1>
    
    <div class="contenedor-pedidos">
        <div class="contenedorTabla">
            <table class="tablaPedidos">
                <thead>
                    <tr>
                        <th><strong>Codigo</strong></th>
                        <th><strong>Fecha y Hora de Inicio</strong></th>
                        <th><strong>Fecha y Hora de Fin</strong></th>
                        <th><strong>Peso Final</strong></th>
                        <th><strong>Decorador</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let decoracionemp of decoracionesEmp"> 
                        <td>{{decoracionemp.codigoDecore}}</td>
                        <td>{{decoracionemp.fechaHoraInicio}}</td>
                        <td>{{decoracionemp.fechaHoraFin}}</td>
                        <td>{{decoracionemp.pesoFinal}}kg</td>
                        <td>{{decoracionemp.decorador}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>