<div class="content">

    <h1 class="logo">Ingrese su <span>Pedido</span></h1>

    <div class="pedido-wrapper animated bounceInUp">
        <div class="pedido-form">
            <h3>Ingresa tu pedido</h3>
            <form action="">
                <p>
                    <label for="nit" class="espacio">NIT</label>
                    <input type="number" name="nit" id="nit">
                </p>
                <p>
                    <label for="nombreEmpresa" class="espacio">Nombre empresa</label>
                    <input type="text" name="nombreEmpresa" id="nombreEmpresa">
                </p>
                <p>
                    <label for="direccionEmpresa" class="espacio">Dirección</label>
                    <input type="text" name="direccionEmpresa" id="direccionEmpresa">
                </p>
                <p>
                    <label for="nombrePastel" class="espacio">Nombre del pastel</label>
                    <input type="text" name="nombrePastel" id="nombrePastel">
                </p>
                <p>
                    <label for="tipo" class="espacio">Tipo de evento</label>
                    <input type="text" name="tipo" id="tipo">
                </p>
                <p>
                    <label for="peso" class="espacio">Peso minimo a tener en kg</label>
                    <input type="number" name="peso" id="peso">
                </p>
                <p>
                    <label for="fechaSolicitud">Fecha de solicitud</label>
                    <input type="date" name="fechaSolicitud" id="fechaSolicitud">
                </p>
                <p>
                    <label for="fechaEntrega">Fecha de entrega</label>
                    <input type="date" name="fechaEntrega" id="fechaEntrega">
                </p>
                <p>
                    <label for="empleado" class="espacio">Nombre del empleado que recibio la orden</label>
                    <input type="text" name="empleado" id="empleado">
                </p>
                <p class="block">
                   <label for="descripcion">Descripcion</label> 
                    <textarea name="descripccion" rows="3"></textarea>
                </p>
                <p class="block">
                    <button>
                        Send
                    </button>
                </p>
            </form>
        </div>
        
        
    </div>

</div>