<div class="content">

    <h1 class="logo">Incerte los Datos <span>de Decoracion</span></h1>

    <div class="pedido-wrapper animated bounceInUp">
        <div class="pedido-form">
            <h3>Incerte los datos de decoracion para el pedido de personas </h3>
            <form (ngSubmit)="createDecor()"> 
                <p>
                    <label for="fechaHoraInicio" class="espacio">Fecha y Hora de inicio</label>
                    <input type="datetime" name="fechaHoraInicio" id="fechaHoraInicio" [(ngModel)]="decoracion.fechaHoraInicio">
                </p>
                <p>
                    <label for="fechaHoraFin" class="espacio">Fecha y Hora de Final</label>
                    <input type="datetime" name="fechaHoraFin" id="fechaHoraFin" [(ngModel)]="decoracion.fechaHoraFin">
                </p>
                <p>
                    <label for="peso" class="espacio">Peso del pastel</label>
                    <input type="number" name="peso" id="peso" [(ngModel)]="decoracion.pesoFinal">
                </p>
                <p>
                    <label for="decorador" class="espacio">Decorador encargado</label>
                    <input type="text" name="decorador" id="decorador" [(ngModel)]="decoracion.decorador">
                </p>
                <p class="block">
                    <button>
                        Incertar
                    </button>
                </p>
            </form>
        </div>
        <div class="pedido-form">
            <h3>Incerte los datos de decoracion para el pedido de empresas</h3>
            <form (ngSubmit)="createDecora()"> 
                <p>
                    <label for="fechaHoraInicio" class="espacio">Fecha y Hora de inicio</label>
                    <input type="datetime" name="fechaHoraInicio" id="fechaHoraInicio" [(ngModel)]="decoracionEmp.fechaHoraInicio">
                </p>
                <p>
                    <label for="fechaHoraFin" class="espacio">Fecha y Hora de Final</label>
                    <input type="datetime" name="fechaHoraFin" id="fechaHoraFin" [(ngModel)]="decoracionEmp.fechaHoraFin">
                </p>
                <p>
                    <label for="peso" class="espacio">Peso del pastel</label>
                    <input type="number" name="peso" id="peso" [(ngModel)]="decoracionEmp.pesoFinal">
                </p>
                <p>
                    <label for="decorador" class="espacio">Decorador encargado</label>
                    <input type="text" name="decorador" id="decorador" [(ngModel)]="decoracionEmp.decorador">
                </p>
                <p class="block">
                    <button>
                        Incertar
                    </button>
                </p>
            </form>
        </div>
        
        
    </div>

</div>