<header>
    <div class="contenedor">
        <div class="spacer"></div>
        <div>
            <img class="Logito" src="../assets/img/logo/HelloKitty.png" alt="Logo" >
        </div>
        <div class="spacer2"></div>
        <div>
            <div>
                <h1>Pasteleria</h1>
            </div>
            <div>
                <h2>Hello Kitty</h2>
            </div>
            <div>
                <h3>"Tu satisfacción es nuestra obligación"</h3>
            </div>
        </div>
        <div class="spacer1"></div>
        <div class="redes">
            <div class="cartaRed">
                <img class="red" src="../assets/img/redes sociales/facebook.png" alt="Facebook">
            </div>
            <div class="cartaRed">
                <img class="red" src="../assets/img/redes sociales/instagram.jpg" alt="Instagram">
            </div>
            <div class="cartaRed">
                <img class="red" src="../assets/img/redes sociales/twitter.jpg" alt="Twitter">
            </div>
        </div>
    </div>
</header>