<nav>
    <ul class="menu">
        <li><a [routerLink]="['home']" routerLinkActive="['active']">Inicio</a></li>
        <li><a [routerLink]="['persona']" routerLinkActive="['active']">Pedir pastel como persona</a></li>
        <li><a [routerLink]="['empresa']" routerLinkActive="['active']">Pedir pastel como empresa</a></li>
        <li><a [routerLink]="['serviciosAd']" routerLinkActive="['active']">Servicios adicionales</a></li>
        <li><a [routerLink]="['verEmpleados']" routerLinkActive="['active']">Ver empleados</a></li>
        <li><a [routerLink]="['insertarEmpleados']" routerLinkActive="['active']">Incertar empleados</a></li>
    </ul>
</nav>